## For JS backend:

# LANGCHAIN_TRACING_V2=true
# LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
# LANGCHAIN_API_KEY="YOUR_LANGSMITH_KEY"
# LANGCHAIN_PROJECT="YOUR_PROJECT_NAME"

# NEXT_PUBLIC_API_BASE_URL="http://localhost:3000/api"
#AWS_ACCESS_KEY_ID=
#AWS_SECRET_ACCESS_KEY=
#AWS_SESSION_TOKEN=


#ASTRA_DB_KEYSPACE=default_keyspace
#ASTRA_DB_API_ENDPOINT="https://dbid-us-east1.apps.astra.datastax.com"
#ASTRA_DB_APPLICATION_TOKEN=""